@font-face {
  font-family: "Rufina";
  src: url("../fonts/rufina-regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Sarabun";
  src: url("../fonts/sarabun-light.woff2") format("woff2");
  font-weight: 300;
}
